:root {
  body.chakra-ui-light {
    --color-secondary: #7493dc;
    --color-support: '#DBE2F2';
  }

  body.chakra-ui-dark {
    --color-secondary: #23428b;
    --color-support: #0d1527;
  }
}

.icon-container {
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  height: 40px;
  transition: background-color 300ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container:hover {
  background-color: var(--color-secondary);
}
